header#header_header 
    .header_container 
        .header_row 
            .header_header 
                .header_section1 
                    .header_logo
                        a(href=routes.main)
                            i.fab.fa-facebook
                    .header_search 
                        form(action="#", method="get", id="header_searchForm")
                            input(type="text", placeholder="검색", id="header_searchText", name="header_searchText")
                            button(type="submit", id="header_searchSubmit")
                                i.fas.fa-search
                .header_section2 
                    .header_profile
                        a(href=routes.person(user.id)) 
                            img(src="http://blogfiles.naver.net/20151120_88/wkib321_1448006625608ARKs0_JPEG/201511201703505.jpg") 
                            span(id="main_header_profileName")=user.username
                    .header_menu
                        .header_iconMenu
                            a(href=routes.main) 
                                i.fas.fa-home
                            a(href="#")
                                i.fas.fa-user-friends
                            a(href="#")
                                i.fas.fa-bell 
                        .header_logoutMenu
                            a(href=routes.logout) 로그아웃 