section#person_coverSection
    .person_cover_coverImg
        img#person_cover_coverImg(src="https://images.unsplash.com/photo-1557728218-65b0f8ca4b2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80")
    .person_cover_coverProfile
        .person_coverProfile_img
            img#person_cover_profileImg(src=`/${personUser.avatarUrl}`) 
        .person_coverProfile_name=personUser.username
        .asdf=personUser.id
    nav#person_nav  
        ul
            li 
                a(href=routes.person(personUser.id)) 타임라인 
            li 
                a(href=routes.personInfo(personUser.id)) 정보
            li 
                a(href="#") 친구
            li 
                a(href="#") 사진
            li 
                a(href="#") 보관함
            li 
                a(href="#") 더 보기