extends layouts/mainLayout.pug
include mixins/feedBlock.pug

block content 
    header#main_header 
        .main_container 
            .main_row 
                .main_header 
                    .main_header_section1 
                        .main_header_logo
                            a(href=routes.main)
                                i.fab.fa-facebook
                        .main_header_search 
                            form(action="#", method="get", id="main_header_searchForm")
                                input(type="text", placeholder="검색", id="main_header_searchText", name="main_header_searchText")
                                button(type="submit", id="main_header_searchSubmit")
                                    i.fas.fa-search
                    .main_header_section2 
                        .main_header_profile
                            a(href="#") 
                                img(src="http://blogfiles.naver.net/20151120_88/wkib321_1448006625608ARKs0_JPEG/201511201703505.jpg") 
                                span(id="main_header_profileName")=user.username
                        .main_header_menu
                            .main_header_iconMenu
                                a(href=routes.main) 
                                    i.fas.fa-home
                                a(href="#")
                                    i.fas.fa-user-friends
                                a(href="#")
                                    i.fas.fa-bell 
                            .main_header_logoutMenu
                                a(href=routes.logout) 로그아웃 
    main
        section#main_contents 
            .main_container 
                .main_row
                    .main_contents 
                        section#main_contentFeedSection
                            section#main_content_newFeedSection
                                .main_content_newFeedHeader 
                                    span#main_content_newFeedText 게시물 만들기 
                                .main_content_newFeedMain 
                                    a(href="#", id="main_content_newFeedImg")
                                        img(src="http://blogfiles.naver.net/20151120_88/wkib321_1448006625608ARKs0_JPEG/201511201703505.jpg") 
                                    textarea#main_content_newFeedTextarea(name="main_content_newFeedTextarea", cols="30", rows="3", placeholder=user.username+"님, 무슨 생각을 하고 계신가요? ")
                                .main_content_newFeedFooter 
                                    .main_content_borderSection
                                        input(type="file")
                            +feedBlock({})
                        section#main_content_adSection
                            section#main_content_adContent  
                            section#main_content_footerContent 
                                ul
                                    li 
                                        a(href="#") 개인정보처리방침 
                                    li 
                                        a(href="#") 이용 약관 
                                    li  
                                        a(href="#") 광고 
                                address Facebook &copy; #{new Date().getFullYear()}
                        