extends layouts/mainLayout.pug

block content 
    include partials/header 
    main 
        section#personInfo_contents 
            .personInfo_container 
                .personInfo_row 
                    .personInfo_contents    
                        include partials/person_coverSection.pug
                        section#personInfo_infoSection
                            .personInfo_infoSection_infoText 
                            .personInfo_infoSection_infoWrap 
                                #personInfo_infoWrap_menu 
                                    if(user.id == personUser.id) 
                                        #personInfo_infoWrap_menu1
                                            span 개요 
                                        #menu1_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_menu2 
                                            span 경력 및 학력 
                                        #menu2_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_menu3 
                                            span 거주 장소
                                        #menu3_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_menu4 
                                            span 연락처 및 기본 정보 
                                        #menu4_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_editInfo 
                                            span 비밀번호 변경
                                        #menu5_dropdown
                                        #perwsonInfo_infoWrap_changeProfile 
                                            span 프로필 사진 변경 
                                        #menu6_dropdown
                                            i.fas.fa-sort-down
                                    else 
                                        #personInfo_infoWrap_menu1
                                            span 개요 
                                        #menu1_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_menu2 
                                            span 경력 및 학력 
                                        #menu2_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_menu3 
                                            span 거주 장소
                                        #menu3_dropdown
                                            i.fas.fa-sort-down
                                        #personInfo_infoWrap_menu4 
                                            span 연락처 및 기본 정보 
                                         
                                .personInfo_infoWrap_content 
                                    #personInfo_content_menu1 
                                        .personInfo_menu1_left 
                                            if(user.workspace)
                                                #menu1_workspace_showDiv 
                                                    #menu1_workspace_icon   
                                                        i.fas.fa-building
                                                    #menu1_workspace_showTextDiv 
                                                        .menu1_workspace_showText1 
                                                            h3=user.workspace 
                                                        .menu1_workspace_showText2 
                                                            h4=user.workspace_position  
                                                            h5  
                                                            h4=user.workspace_city
                                                    span#menu1_workspace_edit 수정   
                                            else  
                                                #personInfo_menu1_workspace
                                                    i.far.fa-plus-square 
                                                    span 직장 추가 
                                            if(user.university) 
                                                #menu1_university_showDiv 
                                                    #menu1_university_icon
                                                        i.fas.fa-university 
                                                    #menu1_university_showTextDiv 
                                                        .menu1_university_showText1 
                                                            h3=user.university 
                                                        .menu1_university_showText2 
                                                            h4=user.university_major 
                                                            if(user.university_graduate) 
                                                                h5
                                                                h4 졸업 
                                                    span#menu1_university_edit 수정 
                                            else 
                                                #personInfo_menu1_school  
                                                    i.far.fa-plus-square 
                                                    span 학교 추가  
                                            if(user.residence)
                                                #menu1_residence_showDiv
                                                    .residence_icon
                                                        i.fas.fa-map-marker-alt 
                                                    #menu1_residence_showText
                                                        if(user.hometown)
                                                            .residence_showText_residence
                                                                h3=user.residence
                                                                h5 현재 거주지 
                                                            .residence_showText_hometown 
                                                                h3=user.hometown
                                                                h5 출신지
                                                        else  
                                                            h3=user.residence 
                                                            h4 현재 거주지 
                                                    span#menu1_residence_edit 수정 
                                            else if(!user.residence && user.hometown) 
                                                #menu1_hometown_showDiv 
                                                    .hometown_icon 
                                                        i.fas.fa-map-marker-alt 
                                                    #menu1_hometown_showText 
                                                        h3=user.hometown 
                                                        h4 출신지 
                                                    span#menu1_hometown_edit 수정 
                                            else     
                                                #personInfo_menu1_live    
                                                    i.far.fa-plus-square 
                                                    span 거주지 추가
                                        .personInfo_menu1_right
                                            if(user.phone)
                                                #personInfo_menu1_phone 
                                                    i.fas.fa-mobile-alt
                                                    span=user.phone
                                                    #personInfo_menu1_phoneEdit 수정
                                            else 
                                                #personInfo_menu1_phoneAdd 
                                                    i.far.fa-plus-square 
                                                    span 연락처 추가 
                                            #personInfo_menu1_birthday  
                                                i.fas.fa-birthday-cake 
                                                span=user.birthday_year+"년 "+user.birthday_month+"월 "+user.birthday_day+"일"
                                                #personInfo_menu1_birthdayEdit 수정 
                                    #personInfo_content_menu2 
                                        .personInfo_menu2_workspace 
                                            .personInfo_menu2_workspaceText 직장  
                                            if(user.workspace)
                                                #menu2_workspaceShowDiv 
                                                    #workspace_icon 
                                                        i.fas.fa-building 
                                                    #workspace_showTextDiv  
                                                        .workspace_showText1
                                                            h3=user.workspace
                                                        .workspace_showText2 
                                                            h4=user.workspace_position 
                                                            h5  
                                                            h4=user.workspace_city
                                                    form(action=`/user${routes.deleteCompany}`, method="post", id="workspace_deleteform")
                                                        input(type="submit", id="workspace_delete", value="삭제")                                                            
                                                    span#workspace_edit 수정 
                                                #personInfo_menu2_workspaceEdit_formDiv 
                                                    form(action=`/user${routes.changeCompany}`, method="post", id="personInfo_workspaceEdit_form") 
                                                        div 
                                                            label(for="personInfo_workspaceEditform_company") 회사 
                                                            input(type="text", id="personInfo_workspaceEditform_company", name="company", value=user.workspace, required)
                                                        div
                                                            label(for="personInfo_workspaceEditform_staff") 직위 
                                                            input(type="text", id="personInfo_workspaceEditform_staff", name="position", value=user.workspace_position, required)
                                                        div 
                                                            label(for="personInfo_workspaceEditform_city") 도시 
                                                            input(type="text", id="personInfo_workspaceEditform_city", name="city", value=user.workspace_city, required) 
                                                        div 
                                                            button(type="submit", id="personInfo_workspaceEditform_submit") 변경 내용 저장 
                                                            button#personInfo_workspaceEditform_cancel(type="button") 취소
                                            else 
                                                #personInfo_menu2_workspaceAdd 
                                                    i.far.fa-plus-square 
                                                    span 직장 추가 
                                                #personInfo_menu2_workspaceAdd_formDiv 
                                                    form(action=`/user${routes.changeCompany}`, method="post", id="personInfo_workspaceAdd_form") 
                                                        div 
                                                            label(for="personInfo_workspaceAddform_company") 회사 
                                                            input(type="text", id="personInfo_workspaceAddform_company", name="company", required)
                                                        div
                                                            label(for="personInfo_workspaceAddform_staff") 직위 
                                                            input(type="text", id="personInfo_workspaceAddform_staff", name="position", required)
                                                        div 
                                                            label(for="personInfo_workspaceAddform_city") 도시 
                                                            input(type="text", id="personInfo_workspaceAddform_city", name="city", required) 
                                                        div 
                                                            button(type="submit", id="personInfo_workspaceAddform_submit") 변경 내용 저장 
                                                            button#personInfo_workspaceAddform_cancel(type="button") 취소
                                        .personInfo_menu2_university
                                            .personInfo_menu2_universityText 대학 
                                            if(user.university)
                                                #menu2_universityShowDiv 
                                                    #university_icon 
                                                        i.fas.fa-university 
                                                    #university_showTextDiv 
                                                        .university_showText1
                                                            h3=user.university 
                                                        .university_showText2 
                                                            h4=user.university_major 
                                                            if(user.university_graduate) 
                                                                h5
                                                                h4 졸업
                                                    form(action=`/user${routes.deleteUniversity}`, method="post", id="university_deleteForm")
                                                        input(type="submit", id="university_delete", value="삭제")
	                                                    
                                                    span#university_edit 수정 
                                                #personInfo_menu2_universityEdit_formDiv
                                                    form(action=`/user${routes.changeUniversity}`, method="post", id="personInfo_universityEdit_form") 
                                                        div 
                                                            label(for="personInfo_universityEditform_university") 학교 
                                                            input(type="text", id="personInfo_universityEditform_university", name="university", value=user.university, required)
                                                        div
                                                            label(for="personInfo_universityEditform_gradu") 졸업  
                                                            input(type="checkbox", id="personInfo_universityEditform_gradu", name="graduate")
                                                        div 
                                                            label(for="personInfo_universityEditform_major") 전공 
                                                            input(type="text", id="personInfo_universityEditform_major", name="major", value=user.university_major, required) 
                                                        div 
                                                            button(type="submit", id="personInfo_universityEditform_submit") 변경 내용 저장 
                                                            button#personInfo_universityEditform_cancel(type="button") 취소
                                            else 
                                                #personInfo_menu2_universityAdd
                                                    i.far.fa-plus-square 
                                                    span 대학 추가
                                                #personInfo_menu2_universityAdd_formDiv
                                                    form(action=`/user${routes.changeUniversity}`, method="post", id="personInfo_universityAdd_form") 
                                                        div 
                                                            label(for="personInfo_universityAddform_university") 학교 
                                                            input(type="text", id="personInfo_universityAddform_university", name="university", required)
                                                        div
                                                            label(for="personInfo_universityAddform_gradu") 졸업  
                                                            input(type="checkbox", id="personInfo_universityAddform_gradu", name="graduate")
                                                        div 
                                                            label(for="personInfo_universityAddform_major") 전공 
                                                            input(type="text", id="personInfo_universityAddform_major", name="major", required) 
                                                        div 
                                                            button(type="submit", id="personInfo_universityAddform_submit") 변경 내용 저장 
                                                            button#personInfo_universityAddform_cancel(type="button") 취소
                                    #personInfo_content_menu3
                                        .personInfo_menu3_residence
                                            .personInfo_menu3_residenceText 거주지와 출신지
                                            if(user.residence)
                                                #residence_showDiv 
                                                    .residence_icon
                                                        i.fas.fa-map-marker-alt  
                                                    #residence_showText 
                                                        h3=user.residence 
                                                        h4 현재 거주지
                                                    form(action=`/user${routes.deleteResidence}`, method="post", id="delete_residenceForm")
                                                        input(type="submit", id="residence_delete", value="삭제")    
                                                    span#residence_edit 수정
                                                #personInfo_menu3_residenceEditFormDiv 
                                                    form(action=`/user${routes.changeResidence}`, method="post", id="personInfo_residenceEditForm_form")
                                                        div 
                                                            label(for="personInfo_residenceEidtform_residence") 거주지 
                                                            input(type="text", id="personInfo_residenceEditform_residence", placeholder="도시명을 입력해주세요.", name="residence", value=user.residence)
                                                        div 
                                                            button(type="submit", id="personInfo_residenceEditform_submit") 변경 내용 저장 
                                                            button#personInfo_residenceEditform_cancel(type="button") 취소
                                            else
                                                #personInfo_menu3_residenceAdd 
                                                    i.far.fa-plus-square 
                                                    span 거주지 추가
                                                #personInfo_menu3_residenceAddFormDiv 
                                                    form(action=`/user${routes.changeResidence}`, method="post", id="personInfo_residenceAddForm_form")
                                                        div 
                                                            label(for="personInfo_residenceAddform_residence") 거주지 
                                                            input(type="text", id="personInfo_residenceAddform_residence", placeholder="도시명을 입력해주세요.", name="residence")
                                                        div 
                                                            button(type="submit", id="personInfo_residenceAddform_submit") 변경 내용 저장 
                                                            button#personInfo_residenceAddform_cancel(type="button") 취소
                                            if(user.hometown)
                                                #hometown_showDiv 
                                                    .hometown_icon 
                                                        i.fas.fa-map-marker-alt 
                                                    #hometown_showText 
                                                        h3=user.hometown 
                                                        h4 출신지 
                                                    form(action=`/user${routes.deleteHometown}`, method="post", id="delete_hometownForm")
                                                        input(type="submit", id="hometown_delete", value="삭제")
                                                    span#hometown_edit 수정 
                                                #personInfo_menu3_hometownEditFormDiv 
                                                    form(action=`/user${routes.changeHometown}`, method="post", id="personInfo_hometownEditForm_form")
                                                        div 
                                                            label(for="personInfo_hometownEditform_hometown") 출신지 
                                                            input(type="text", id="personInfo_hometownEditform_hometown", name="hometown", value=user.hometown)
                                                        div 
                                                            button(type="submit", id="personInfo_hometownEditform_submit") 변경 내용 저장 
                                                            button#personInfo_hometownEditform_cancel(type="button") 취소
                                            else 
                                                #personInfo_menu3_hometownAdd
                                                    i.far.fa-plus-square 
                                                    span 출신지 추가
                                                #personInfo_menu3_hometownAddFormDiv 
                                                    form(action=`/user${routes.changeHometown}`, method="post", id="personInfo_hometownAddForm_form")
                                                        div 
                                                            label(for="personInfo_hometownAddform_hometown") 출신지 
                                                            input(type="text", id="personInfo_hometownAddform_hometown", name="hometown", placeholder="출신지를 입력해주세요.")
                                                        div 
                                                            button(type="submit", id="personInfo_hometownAddform_submit") 변경 내용 저장 
                                                            button#personInfo_hometownAddform_cancel(type="button") 취소  
                                    #personInfo_content_menu4
                                        .personInfo_menu4_phone
                                            .personInfo_menu4_phoneText 연락처 정보
                                            .personInfo_menu4_phoneInfoDiv 
                                                .personInfo_menu4_phoneInfoText 휴대폰 
                                                .personInfo_menu4_phoneInfo 
                                                    if(user.phone)
                                                        #personInfo_menu4_phoneInfo_show=user.phone
                                                        form(action=`/user${routes.deletePhone}`, method="post", id="delete_phoneForm")
                                                            input(type="submit", id="phone_delete", value="삭제")
                                                        #personInfo_menu4_phoneInfo_edit 수정 
                                                        #personInfo_menu4_phoneInfo_editForm 
                                                            form(action=`/user${routes.changePhone}`, method="post", id="phoneInfo_editForm") 
                                                                select(id="phoneInfo_editForm_first", name="phoneInfo_editForm_first")
                                                                    option(value="010") 010 
                                                                    option(value="011") 011 
                                                                    option(value="017") 017 
                                                                    option(value="019") 019 
                                                                span -
                                                                input(type="text", id="phoneInfo_editForm_second", name="phoneInfo_editForm_fInput") 
                                                                span - 
                                                                input(type="text", id="phoneInfo_editForm_third", name="phoneInfo_editForm_lInput")  
                                                                div 
                                                                    button(type="submit", id="") 적용 
                                                                    button(type="button", id="personInfo_menu4_phoneForm_editFormcancel") 취소 
                                                    else
                                                        #personInfo_menu4_phoneInfo_Add
                                                            i.far.fa-plus-square
                                                            span 연락처 추가
                                                    #personInfo_menu4_phoneInfo_addForm 
                                                        form(action=`/user${routes.changePhone}`, method="post", id="phoneInfo_addForm") 
                                                            select(id="phoneInfo_addForm_first", name="phoneInfo_editForm_first")
                                                                option(value="010") 010 
                                                                option(value="011") 011 
                                                                option(value="017") 017 
                                                                option(value="019") 019 
                                                            span -
                                                            input(type="text", id="phoneInfo_addForm_second", name="phoneInfo_editForm_fInput") 
                                                            span - 
                                                            input(type="text", id="phoneInfo_addForm_third", name="phoneInfo_editForm_lInput")  
                                                            div 
                                                                button(type="submit") 적용 
                                                                button(type="button", id="personInfo_menu4_phoneForm_cancel") 취소 
                                            .personInfo_menu4_emailInfoDiv 
                                                .personInfo_menu4_emailInfoText 이메일 
                                                .personInfo_menu4_emailInfo=user.email
                                        .personInfo_menu4_person 
                                            .personInfo_menu4_personText 기본 정보 
                                            .personInfo_menu4_personBirthdayDiv 
                                                .personInfo_menu4_personBirthdayText 생일 
                                                #personInfo_showBirthday 
                                                    .personInfo_menu4_personBirthday=user.birthday_year+"년 "+user.birthday_month+"월 "+user.birthday_day+"일"
                                                    button#personInfo_birthdayEdit 수정
                                                #personInfo_editBirthday 
                                                    form(action=`/user${routes.changeBirthday}`, method="post", id="birthday_editForm") 
                                                        select(id="birthday_editForm_year", name="year") 
                                                            option(value="0") 연도
                                                            -for(let i = new Date().getFullYear(); i > new Date().getFullYear()-100; i--) 
                                                                option(value=i) #{i}
                                                        select(id="birthday_editForm_month", name="month") 
                                                            option(value="0") 월 
                                                            -for(let i = 1; i < 13; i++)
                                                                option(value=i) #{i}
                                                        select(id="birthday_editForm_day", name="day") 
                                                            option(value="0") 일 
                                                            -for(let i = 1; i < 32; i++) 
                                                                option(value=i) #{i}
                                                        div 
                                                            button(type="submit") 적용 
                                                            button(type="button", id="personInfo_editBirthday_cancel") 취소
                                            #personInfo_menu4_personGenderDiv 
                                                .personInfo_menu4_personGenderText 성별 
                                                #personInfo_menu4_showGender 
                                                    #personInfo_menu4_personGender=user.gender     
                                            #personInfo_menu4_personBloodDiv 
                                                .personInfo_menu4_personBloodText 혈액형 
                                                if(user.bloodType)
                                                    #personInfo_showBloodDiv 
                                                        #personInfo_showBlood=user.bloodType 
                                                        form(action=`/user${routes.deleteBloodType}`, method="post", id="delete_bloodTypeForm")
                                                            input(type="submit", id="bloodType_delete", value="삭제")
                                                        #personInfo_editBlood 수정
                                                    #personInfo_editBloodFormDiv 
                                                        form(action=`/user${routes.changeBloodType}`, method="post") 
                                                            select(name="bloodType") 
                                                                option(value="A") A
                                                                option(value="B") B
                                                                option(vlaue="O") O
                                                                option(value="AB") AB 
                                                            div 
                                                                button(type="submit") 적용 
                                                                button(type="button", id="personInfo_menu4_editBloodCancel") 취소
                                                else 
                                                    #personInfo_addBlood  
                                                        i.far.fa-plus-square
                                                        span 혈액형 추가
                                                    #personInfo_addBloodFormDiv 
                                                        form(action=`/user${routes.changeBloodType}`, method="post") 
                                                            select(name="bloodType") 
                                                                option(value="A") A
                                                                option(value="B") B
                                                                option(vlaue="O") O
                                                                option(value="AB") AB 
                                                            div 
                                                                button(type="submit") 적용 
                                                                button(type="button", id="personInfo_menu4_addBloodCancel") 취소 
                                    #personInfo_content_changePassword  
                                        form(action=`/user${routes.changePassword}`, method="post", id="personInfo_changePassword_form")
                                            div
                                                label(for="personInfo_changePassword_now") 현재 비밀번호 
                                                input(type="password", id="personInfo_changePassword_now", name="personInfo_changePassword_now")
                                            div
                                                label(for="personInfo_changePassword_change") 새로운 비밀번호 
                                                input(type="password", id="personInfo_changePassword_change", placeholder="영문,숫자,특수문자를 포함한 8~16자리", name="personInfo_changePassword_change")
                                            div
                                                label(for="personInfo_changePassword_confirm 확인") 새로운 비밀번호 확인
                                                input(type="password", id="personInfo_changePassword_confirm", name="personInfo_changePassword_confirm") 
                                            div
                                                label 
                                                span#personInfo_changePassword_fail ❌비밀번호가 일치하지 않습니다.
                                                span#personInfo_changePassword_success ✅비밀번호가 일치 합니다. 
                                            input(type="submit", id="personInfo_changePassword_submit", name="personInfo_changePassword_confirm", value="변경")
                                    #personInfo_content_changeProfileImg 
                                        form(action=`/user${routes.editProfile}`, method="post", id="personInfo_changeProfileImg_form", enctype="multipart/form-data") 
                                            div#personInfo_imgPreview
                                                img#personInfo_basic_imgPreview(src=`/${user.avatarUrl}`)
                                            //- img(src=`/${user.avatarUrl}`, id="personInfo_imgPreview") 
                                            input(type="file", name="avatar", id="avatar", accept="image/*")
                                            input(type="submit", value="변경")
