extends layouts/mainLayout.pug
include mixins/feedBlock.pug
include mixins/friendGrid.pug

block content
    include partials/header
    main 
        section#person_contents 
            .person_container 
                .person_row 
                    .person_contents 
                        include partials/person_coverSection.pug
                        section#person_feedSection  
                            .person_feed_detailInfo 
                                article#person_detailInfo_introduce
                                    .person_introduce_text 
                                        i.fas.fa-globe-asia 
                                        span 소개 
                                    if(personUser.introduce == null && personUser.id == user.id) 
                                        .person_introduce_add
                                            i.far.fa-comment-alt
                                            p.person_add_p 간단한 소개를 추가하여 회원님에 대해 자세히 알려주세요.
                                            span.person_add_add 소개 추가 
                                        .person_introduce_textarea 
                                            form
                                                div 
                                                    <textarea id="introduce_textarea" name="introduce_textArea" placeholder="간단한 소개글을 작성해 주세요. &#13;&#10;(30자까지 입력가능)"></textarea>
                                                button#introduce_textarea_submit(type="submit") 적용 
                                                button#introduce_textarea_cancel(type="button") 취소
                                    else 
                                        .person_introduce_textDiv 
                                            i.far.fa-comment-alt
                                            if(personUser.introduce == null) 
                                                p#person_introduce_textP 작성된 소개글이 없습니다.
                                            else  
                                                p#person_introduce_textP=personUser.introduce
                                            if(personUser.id == user.id)
                                                span#person_introduce_editBtn 소개 수정
                                        .person_introduce_editTextarea 
                                            form
                                                div 
                                                    textarea#introduce_editTextarea(name="introduce_textArea")=personUser.introduce
                                                button#introduce_Edittextarea_submit(type="submit") 적용 
                                                button#introduce_Edittextarea_cancel(type="button") 취소
                                    .person_introduce_info 
                                        if(personUser.workspace != null)  
                                            #person_info1
                                                i.fas.fa-building 
                                                p=personUser.workspace + "근무"
                                            if(personUser.university != null) 
                                                if(personUser.graduate == null)
                                                    #person_info2 
                                                        i.fas.fa-university 
                                                        p=personUser.university + " 재학"
                                                else 
                                                    #person_info1 
                                                        i.fas.fa-university 
                                                        p=personUser.university + " 졸업"
                                            if(personUser.university == null && personUser.residence != null) 
                                                #person_info2 
                                                    i.fas.fa-map-marker-alt
                                                    p=personUser.residence + " 거주"
                                            if(personUser.university == null && personUser.residence == null && personUser.hometown != null) 
                                                #person_info2 
                                                    i.fas.fa-map-marker-alt
                                                    p=personUser.hometown + " 출신"
                                        else 
                                            if(personUser.university != null)
                                                if(personUser.university_graduate == null)
                                                    #person_info1 
                                                        i.fas.fa-university 
                                                        p=personUser.university + " 재학"
                                                    if(personUser.residence != null) 
                                                        #person_info2 
                                                            i.fas.fa-map-marker-alt
                                                            p=personUser.residence + " 거주"
                                                    if(personUser.residence == null && personUser.hometown) 
                                                        #person_info2 
                                                            i.fas.fa-map-marker-alt 
                                                            p=personUser.hometown + " 출신"
                                                else 
                                                    #person_info1 
                                                        i.fas.fa-university 
                                                        p=personUser.university + " 졸업"
                                                    if(personUser.residence != null) 
                                                        #person_info2 
                                                            i.fas.fa-map-marker-alt
                                                            p=personUser.residence + " 거주"
                                                    if(personUser.residence == null && personUser.hometown) 
                                                        #person_info2 
                                                            i.fas.fa-map-marker-alt 
                                                            p=personUser.hometown + " 출신"
                                            if(personUser.workspace == null && personUser.university == null && personUser.residence != null) 
                                                #person_info1 
                                                    i.fas.fa-map-marker-alt
                                                    p=personUser.residence + " 거주"
                                                if(personUser.hometown != null) 
                                                    #person_info2 
                                                        i.fas.fa-map-marker-alt 
                                                        p=personUser.hometown + " 출신"
                                            if(personUser.workspace == null && personUser.university == null && personUser.residence == null && personUser.hometown != null)
                                                #person_info1 
                                                    i.fas.fa-map-marker-alt
                                                    p=personUser.hometown + " 출신"
                                        #person_info3 
                                            i.fas.fa-birthday-cake
                                            p=personUser.birthday_year + "년" + personUser.birthday_month + "월" + personUser.birthday_day + "일 출생"     
                                article#person_detailInfo_friends 
                                    .person_detailInfo_friendsText 
                                        i.fas.fa-user-friends 
                                        span 친구 
                                        span.person_friendsText_count=friendList.length+"명" 
                                    .person_detailInfo_friendsGrid 
                                        each item in friendGrid
                                            +friendGrid({
                                                id: item.id,
                                                name: item.username, 
                                                avatar: item.avatarUrl
                                            })
                                article#person_detailInfo_footer 
                                    ul
                                        li 
                                            a(href="#") 개인정보처리방침 
                                        li 
                                            a(href="#") 이용 약관 
                                        li  
                                            a(href="#") 광고 
                                    address Facebook &copy; #{new Date().getFullYear()}                               
                            .person_feed_myFeed
                                include partials/feedWriteBlock.pug
                                .person_myFeed_text 게시물 
                                each item in personFeed
                                    if(item.userId == personUser.id)
                                        +feedBlock({
                                            id: item.id, 
                                            date: item.date,
                                            userId: item.userId,
                                            userName: item.username,
                                            content: item.content,
                                            avatar: item.avatarUrl, 
                                            feedImg: item.feedImg,
                                            likeCount: item.likeCount, 
                                            commentCount: item.commentCount
                                        })                            