include ./replyBlock.pug

mixin commentBlock(comment = {})  
    .registered_comments
        .commentPart 
            .registered_comments_img  
                img.comments_img1(src=comment.avatar)
            .registered_comments_comment
                a.registered_comment_name(href=routes.person(comment.userid))=comment.username
                span.registered_comment_content=comment.comment 
            if(comment.feed_userid == user.id || comment.userid == user.id)
                i.fas.fa-ellipsis-h.commentMenu_icon
            else 
                i.fas.fa-ellipsis-h.commentMenu_icon(style="display:none")
            .registered_comments_menu 
                a.write_reply_button 답글달기 
                span.dot
                .registerd_comments_time(hidden="hidden")=comment.date
                span.registered_time_gap 
            .editCommentDiv 
                form.editComment_form  
                    input.editComment_input(type="text")
                    span.editComment_id(style="display:none")=comment.id
            .editComment_cancelDiv 취소 
            .editComment_replyDiv
                .editComment_writeReply
                    form.replyForm
                        span.comment_Id=comment.id
                        span.feed_Id=comment.feedId
                        img(src=user.avatarUrl) 
                        input(type="text", placeholder="댓글 입력", class="reply_input")
                .editComment_Reply_cancel 취소 
        each item in reply
            if(comment.id == item.commentId)
                +replyBlock({
                    id: item.id,
                    feed_userid: item.feed_userid, 
                    userid : item.userid,
                    commentId: item.commentId,
                    userName : item.userName, 
                    userAvatar : item.userAvatar, 
                    reply : item.reply 
                })
        .menu(style="display:none;") 
            ul
                li
                    i.far.fa-edit
                    span.comment_editText 댓글 수정하기 
                li
                    i.far.fa-trash-alt 
                    span.comment_deleteText 댓글 삭제하기
                    span.comment_commentId(style="display:none")=comment.id 
