include ./commentBlock.pug

mixin feedBlock(feed = {}) 
    section.main_content_feedSection 
        article.main_content_feed
            .main_content_header 
                img(src=feed.avatar) 
                .main_content_headerTop
                    a(href=routes.person(feed.userId), id="main_content_writer")=feed.userName
                    .main_content_more 
                        i.fas.fa-ellipsis-h
                .main_content_headerBottom
                    span.main_content_time(hidden="hidden")=feed.date
                    span.main_time_gap 
                .main_menuDiv(style="display: none;")
                    ul
                        if(user.id != feed.userId)
                            if(storeFeedList.indexOf(feed.id) === -1)
                                li.menu_store 
                                    i.far.fa-bookmark
                                    span 이 게시물 보관하기
                                li.menu_store_delete(style="display:none") 
                                    i.far.fa-trash-alt 
                                    span 보관 삭제하기 
                            else
                                li.menu_store(style="display:none") 
                                    i.far.fa-bookmark
                                    span 이 게시물 보관하기
                                li.menu_store_delete 
                                    i.far.fa-trash-alt 
                                    span 보관 삭제하기 
                            li.menu_noView 
                                i.far.fa-eye-slash 
                                span 이 게시물 보지 않기 
                            li.menu_edit(style="display: none;")  
                                i.far.fa-edit 
                                span 게시물 수정하기
                            li.menu_delete(style="display: none;")
                                i.far.fa-trash-alt 
                                span 게시물 삭제하기
                            .feedId(style="display: none;")=feed.id 
                            .userId(style="display: none;")=user.id 
                        else 
                            li.menu_store(style="display: none;") 
                                i.far.fa-bookmark
                                span 이 게시물 보관하기
                            li.menu_noView(style="display: none;")  
                                i.far.fa-eye-slash 
                                span 이 게시물 보지 않기 
                            li.menu_edit 
                                i.far.fa-edit 
                                span 게시물 수정하기
                                div.feedId(style="display: none;")=feed.id 
                            li.menu_delete
                                i.far.fa-trash-alt 
                                span 게시물 삭제하기 
                        li.menu_cancel  
                            span 취소
            .main_content_main 
                .main_content_mainContent=feed.content
                if(feed.feedImg == null)
                    .main_content_mainImage(style="display: none;")
                else 
                    .main_content_mainImage 
                        img(src=feed.feedImg) 
            .main_content_footer 
                .main_content_countSection
                    .main_content_like 
                        i.far.fa-thumbs-up
                        span.main_content_likeCount=feed.likeCount
                    .main_content_comment
                        span.main_content_commentText 댓글 
                        span.main_content_commentCount=feed.commentCount+feed.replyCount
                        span.main_content_commentCountText 개
                .main_content_buttonSection 
                    //- 현재 계정이 좋아요 누른 feedId가 likeList에 배열로 담겨져 있다. 
                    //- 새로운 feedBlock이 만들어질 때마다 indexOf함수를 통해 배열안에 자신의 feedId와 같은 값이 있는지 확인한다. 
                    //- 같은 값이 있으면 파란색 버튼을 띄어주고, 없으면 그냥 버튼을 띄워준다.  
                    if(likeList.indexOf(feed.id) != -1)
                        button.main_content_likeButton 
                            i.far.fa-thumbs-up.main_likeButton_icon(style="color: blue")
                            span.main_content_likeButtonText(style="color: blue") 좋아요 
                            span.feedBlock_feedId(style="display:none;")=feed.id
                    else 
                        button.main_content_likeButton 
                            i.far.fa-thumbs-up.main_likeButton_icon
                            span.main_content_likeButtonText 좋아요 
                            span.feedBlock_feedId(style="display:none;")=feed.id
                    button.main_content_commentButton 
                        i.far.fa-comment-alt
                        span#main_content_commentButtonText 댓글
            .main_content_Comment(style="display: block;")   
                .writeComment 
                    form.addCommentForm
                        span.main_content_feedId(style="display: none")=feed.id
                        img.addCommentForm_avatar(src=user.avatarUrl)
                        input(type="text", placeholder="댓글을 입력하세요...", class="writeComment_input") 
                .commentBlock_section
                    each item in comment 
                        if(feed.id == item.feedId)
                            +commentBlock({
                                id: item.id,
                                userid: item.userid, 
                                feedId: item.feedId,
                                feed_userid: item.feed_userid,
                                username: item.username, 
                                comment: item.content, 
                                date: item.date,
                                avatar: item.userAvatar
                            })