mixin recommendFriendBlock(recFriend = {}) 
    .header_friendbox_recommend
        .friendbox_recommend_image 
            img(src=recFriend.avatar)
        .friendbox_recommend_name 
            h4=recFriend.name
        if(reqFriendList.indexOf(recFriend.id) == -1) 
            .friendbox_recommend_button(style="display: block") 
                .friendbox_recommendAdd_button 
                    i.fas.fa-user-plus
                    h5 친구 추가   
                .targetid(style="display: none")=recFriend.id
                .applicantid(style="display:none")=user.id
            .friendbox_recommended_button(style="display: none") 
                    i.fas.fa-check 
                    h5 요청함
        else 
            .friendbox_recommend_button(style="display: none") 
                .friendbox_recommendAdd_button 
                    i.fas.fa-user-plus
                    h5 친구 추가   
                .targetid(style="display: none")=recFriend.id
                .applicantid(style="display:none")=user.id
            .friendbox_recommended_button(style="display: block") 
                    i.fas.fa-check 
                    h5 요청함
