mixin feedBlock(feed = {}) 
    section.main_content_feedSection 
        article.main_content_feed
            .main_content_header 
                img(src=`/${feed.avatar}`) 
                .main_content_headerTop
                    a(href=routes.person(feed.userId), id="main_content_writer")=feed.userName
                    .main_content_more 
                        i.fas.fa-ellipsis-h
                .main_content_headerBottom
                    span.main_content_time(hidden="hidden")=feed.date
                    span.main_time_gap 
                .main_menuDiv(style="display: none;")
                    ul
                        if(user.id != feed.userId)
                            li.menu_store 
                                i.far.fa-bookmark
                                span 이 게시물 보관하기
                            li.menu_noView 
                                i.far.fa-eye-slash 
                                span 이 게시물 보지 않기 
                            li.menu_edit(style="display: none;")  
                                i.far.fa-edit 
                                span 게시물 수정하기
                                .feedId(style="display: none;")=feed.id 
                            li.menu_delete(style="display: none;")
                                i.far.fa-trash-alt 
                                span 게시물 삭제하기 
                        else 
                            li.menu_store(style="display: none;") 
                                i.far.fa-bookmark
                                span 이 게시물 보관하기
                            li.menu_noView(style="display: none;")  
                                i.far.fa-eye-slash 
                                span 이 게시물 보지 않기 
                            li.menu_edit 
                                i.far.fa-edit 
                                span 게시물 수정하기
                                div.feedId(style="display: none;")=feed.id 
                            li.menu_delete
                                i.far.fa-trash-alt 
                                span 게시물 삭제하기 
                        li.menu_cancel  
                            span 취소
            .main_content_main 
                .main_content_mainContent=feed.content
                if(feed.feedImg == null)
                else 
                    .main_content_mainImage 
                        img(src=`/${feed.feedImg}`) 
            .main_content_footer 
                .main_content_countSection
                    .main_content_like 
                        i.far.fa-thumbs-up
                        span.main_content_likeCount=feed.likeCount
                    .main_content_comment
                        span.main_content_commentText 댓글 
                        span.main_content_commentCount=feed.commentCount
                        span.main_content_commentCountText 개
                .main_content_buttonSection 
                    button.main_content_likeButton 
                        i.far.fa-thumbs-up 
                        span#main_content_likeButtonText 좋아요 
                    button.main_content_commentButton 
                        i.far.fa-comment-alt
                        span#main_content_commentButtonText 댓글
            .main_content_Comment   
                .writeComment 
                    form(action="#", method="post")
                        img(src=`/${feed.avatar}`)
                        input(type="text", placeholder="댓글을 입력하세요...") 