section#main_content_newFeedSection
    form(action=`/main${routes.upload}`, method="post", enctype="multipart/form-data", id="feedWriteForm")
        .main_content_newFeedHeader 
            span#main_content_newFeedText 게시물 만들기 
        .main_content_newFeedMain 
            .profile_section 
                a(href=routes.person(user.id), id="main_content_newFeedImg")
                    img(src=user.avatarUrl)
            .content_section 
                .contentDiv 
                    if(personUser)
                        if(personUser.id != user.id) 
                            textarea#main_content_newFeedTextarea(name="content", cols="30", rows="3", placeholder=personUser.username+"님에게 글을 남겨보세요...")
                            #imgPreview
                            img(src="#", alt="feed_img", style="display: none;", id="write_feedImg")
                        else 
                            textarea#main_content_newFeedTextarea(name="content", cols="30", rows="3", placeholder=user.username+"님, 무슨 생각을 하고 계신가요? ")
                            #imgPreview
                            img(src="#", alt="feed_img", style="display: none;", id="write_feedImg")
                    else 
                        textarea#main_content_newFeedTextarea(name="content", cols="30", rows="3", placeholder=user.username+"님, 무슨 생각을 하고 계신가요? ")
                        #imgPreview
                            img(src="#", alt="feed_img", style="display: none;", id="write_feedImg")
        .main_content_newFeedFooter 
            .main_content_borderSection
                input(type="file", id="feed", name="feed", hidden="hidden", accept="image/*")
                #custom-button 
                    i.far.fa-image
                    span 사진선택
                input(type="button", value="취소", id="editFormCancel", style="display: none")
                input(type="submit", id="writeFromSubmit", value="등록")
